@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="container text-sm-center text-md-start">
    <h3 class="mt-4 mb-4"><span class="h2" style="color: #FF9900">|</span>Conjuntos de Skate</h3>
    <div class="row">

        <div class="col col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlayw mx-auto" style="max-width: 18rem;">
                <div class="">
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/skate_completo_ahead_bones_head_apache_.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Skate Completo Ahead Military
                    <br />
                    <br />
                    R$ 269,90
                </span>
            </h5>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlayw mx-auto" style="max-width: 18rem;">
                <div class="x">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/skate_completo_ahead_military_all_blue_ (1).png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Skate Completo Ahead Military
                    <br />
                    <br />
                    R$ 269,90
                </span>
            </h5>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlayw mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/skate_completo_ahead_tie_dye_on_impression_.png" class="card-img" /></a>
                </div>
            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Skate Completo Ahead Military
                    <br />
                    <br />
                    R$ 269,90
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlayw mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/skate_completo_ahead_bones_head_apache_.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Skate Completo Ahead Military
                    <br />
                    <br />
                    R$ 269,90
                </span>
            </h5>
        </div>
    </div>

    <h3 class="mt-4 mb-4"><span class="h2" style="color: #FF9900">|</span>Calçados e Meias</h3>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlay mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/1.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Old Skool Black<br />True White
                    <br />
                    <br />
                    R$ 499,99
                </span>
            </h5>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlay mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/2.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Old Skool <br />Pop Multi
                    <br />
                    <br />
                    R$ 549,99
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlay mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/3.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Vans Old Skool<br />True White
                    <br />
                    <br />
                    R$ 499,90s
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlay mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/4.png" class="card-img " /></a>
                </div>

            </div>

            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Nike SB Chron Canvas Unissex
                    <br />
                    <br />
                    R$ 549,99
                </span>
            </h5>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/5.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Old Skool Black True White
                    <br />
                    <br />
                    R$ 499,99
                </span>
            </h5>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/6.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Meia Nike Sportswear (3 pares) Unissex
                    <br />
                    <br />
                    R$ 109,99
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/7.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Nike SB React Leo Masculino
                    <br />
                    <br />
                    R$ 599,99
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/8.png" class="card-img " /></a>
                </div>

            </div>

            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Nike SB Ishod Wair Premium Masculino
                    <br />
                    <br />
                    R$ 469,99
                </span>
            </h5>
        </div>
    </div>


    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/9.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Hocks Oriente Petitpoa 
                    <br />
                    <br />
                    R$ 439,90
                </span>
            </h5>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/10.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Hocks Oriente Court
                    <br />
                    <br />
                    R$ 439,90
                </span>
            </h5>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/11.png" class="card-img " /></a>
                </div>

            </div>
            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Hocks Pop Lite Wax
                    <br />
                    <br />
                    R$ 244,93
                </span>
            </h5>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card text-bg-dark mb-3 overlaydg mx-auto" style="max-width: 18rem;">
                <div class="">
                    <button class="btn btn-outline-light d-none">Compre</button>
                    <a asp-area="" asp-controller="Vendas" asp-action="Index"><img src="~/img/produtos/12.png" class="card-img " /></a>
                </div>

            </div>

            <h5 class="text-center text-light mb-4">
                <span class="fs-7">
                    Tênis Hocks Pop Lite Cobalto Cream
                    <br />
                    <br />
                    R$ 349,90                   
                </span>
            </h5>
        </div>
    </div>
</div>